body.light-mode {
    background-color: #e7e3ee;
}

.light-mode header {
    background-color: #e7e3ee;
    color: #15111C;
    border-bottom: 1px solid #CCCCCC;
}

.light-mode #header-info {
    color: #15111C;
}

.light-mode #home {
    color: #15111C;
}

.light-mode #job {
    color: #c4b46e;
}

.light-mode #about-me {
    color: #2c2929;
}

.light-mode #skills, .light-mode #skill-list {
    color: #040038;
    background-color: #e7e3ee;
}

.light-mode #skill-list>div{
    background-color: #d5c7f3;
}

.light-mode #projeto-title {
    color: #c4b46e;
}

.light-mode #skills>#sk-title{
    color: #c4b46e;
}

.light-mode .projetos>div {
    background-color: #d5c7f3;
    color: #040038;
}

.light-mode .projetos>#mais-pj>div>div, .light-mode .projetos>#mais-pj>div>div>svg{
    background-color: #e7e3ee;
    fill: #d2b980;
}

.light-mode #area-contato p {
    color: #040038;
}

.light-mode #area-contato>#contato-title {
    color: #c4b46e;
}

.light-mode .contato-info {
    color: #2c2929;
}

.light-mode #rodapé {
    color: #2c2929;
    background-color: #e7e3ee;
}

.light-mode hr {
    color: #CCCCCC;
}

.light-mode a {
    color: #15111C;
}

.light-mode #header-info>div>a{
    color: #2c2929;
}

.light-mode .contato-info>a>svg{
    fill: #15111C;
}

.light-mode header>div>div>button{
    background-color:#d5c7f3;
    color:#2c2929
}
