* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #15111C;
    height: 180vh;
}

header{
    background-color: #15111C;
    width: 100%;
    height: 80px;
    display: flex; 
    z-index: 100;
    border-bottom: 1px solid #2f2f2f;
    align-items: center;
    position: fixed;
    top: 0;
}

#header-info{
    padding-left: 200px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    gap: 600px;
}

#header-info>div{
    display: flex;
    gap: 50px;
    text-decoration: none;
}

#header-info>div>a{
    text-decoration: none;
    color: white;
}

body>header>div>img{
    height: 30.5px;
    width: 60px;
    text-align: center;
}

#home{
    padding-top: 102px;
    color: white;
    padding-left: 200px;
    margin-top: 80px;
    width: 80%;
    height: 70vh
}

#hello{
    font-size: 30px;
}

#me{
    font-size: 55px;
}

#job{
    font-size: 40px;
    color: #D9AC85;
}

#about-me{
    padding-top: 20px;
    font-size: 21px;
    color: #878787;
}

#links{
    padding-top: 15px;
    font-size: 20px;
    padding-bottom: 10px;
}

#redes-sociais{
    display: flex;
    gap: 20px;
}

#github>svg{
    width: 50px;
}

#linkedin>svg{
    width: 48px;
}

#skills{
    text-align: center;
    padding-top: 150px;
    color: white;
}

#sk-title{
    font-size: 59px;
    padding-bottom: 8px;
    color: #D9AC85;
}

#skill-list{
    color: #C9C5FF;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 230px;
    padding-left: 258px;
    padding-top: 30px;
    grid-gap: 40px;
    font-size: 37px;
}

#skill-list>div{
    background-color: #1E1729;
    align-content: center;
    text-align: center;
    align-items: center;
}

.sql{
    height: 230px;
}

.google{
    height: 230px;
}

#area-projeto{
    padding-top: 140px;
    color: #C9C5FF;
    text-align: center;
}

#projeto-title{
    padding-bottom: 94px;
    font-size: 59px;
    color: #D9AC85;
}

.projetos{
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1.2fr;
    grid-template-rows: 400px ;
    padding-left: 110px;
    padding-bottom: 130px;
}

.projetos>div{
    background-color: #1E1729;
    width: 80%;
    font-size: 20px;
    height: 350px;
}

.projetos>div>a>img{
    margin-left: 30px;
    display: block;
    padding-top: 30px;
    padding-bottom: 50px;
    width: 85%;
}

#mais-pj{
    padding-top: 120px;
    display: block;
    text-align: center;
    align-items: center;
}

#mais-pj>div{
    width: 60px;
    height: 60px;
    padding-left: 155px;
    padding-bottom: 75px;
}

#mais-pj>div>div{
    width: 60px;
    height: 60px;
    background-color: #15111C;
    border-radius: 30px;
}

#mais-pj>div>div>a{
    width: 48px;
    height: 48px;
}

#mais-pj svg{
    width: 48px;
}

#area-contato{
    padding-top: 30px;
    height: 85vh;
    text-align: center;
}

#area-contato>p{
    color: #D9AC85;
    font-size: 59px;
}

.contato-info{
    height: 65vh;
    color: #C9C5FF;
    text-align: center;
    font-size: 30px;
}

.contato-info>p{
    padding-top: 20px;
}

.contato-info>svg{
    display: block;
    margin-left: 48%;
    
}

.contato-info>a>svg{
    padding-top: 60px;
    width: 59px;
}

hr{
    color: #666666;
}

#rodapé{
    height: 29vh;
    text-align: center;
    align-content: center;
    color: white;
}

#rodapé img{
    width: 120px;
    padding-top: 60px;
    padding-bottom: 60px;
}

#rodapé hr{
    width: 85%;
    margin-left: 7%;
} 

#rodapé p{
    padding-top: 15px;
    padding-bottom: 15px;
}

.hidden {
    opacity: 0;
    transform: translateX(-30px); 
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-slide {
    opacity: 1;
    transform: translateX(0); 
}

.projetos > div {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

header>div>div>button{
    background-color: #1E1729;
    color: white;
}
