* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #15111C;
    height: 180vh;
}



#infos>#me{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #C9C5FF; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end ;
}
  
/* The typing effect */
@keyframes typing {
    from { width: 200px }
    to { width: 300px }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #C9C5FF; }
}



header{
    width: 100%;
    height: 80px;
    display: flex; 
    z-index: 100;
    border-bottom: 1px solid #2f2f2f;
    align-items: center;
    justify-content: center;
}

body>header>div>img{
    height: 30.5px;
    width: 60px;
    text-align: center;
}

#infos{
    padding-top: 58px;
    color: white;
    padding-left: 200px;
    margin-top: 80px;
    width: 80%;
    height: 70vh
}

#hello{
    font-size: 30px;
}

#me{
    font-size: 55px;
}

#job{
    font-size: 40px;
    color: #D9AC85;
}

#about-me{
    padding-top: 20px;
    font-size: 21px;
    color: #878787;
}

#links{
    padding-top: 15px;
    font-size: 20px;
    padding-bottom: 10px;
}

#redes-sociais{
    display: flex;
    gap: 20px;
}

#github>svg{
    width: 50px;
}

#linkedin>svg{
    width: 48px;
}

#skills{
    text-align: center;
    padding-top: 150px;
    color: white;
}

#sk-title>p{
    font-size: 59px;
    padding-bottom: 94px;
}

#sk-title>p>span{
    color: #D9AC85;
}

#skill-list{
    color: #C9C5FF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px;
    padding-left: 7%;
    gap: 20px;
}

#skill-list>div{
    background-color: #1E1729;
    width: 80%;
    font-size: 43px;
    height: 250px;
    align-content: center;
    
}

#area-projeto{
    padding-top: 140px;
    color: white;
    text-align: center;
}

#title{
    padding-bottom: 94px;
    font-size: 59px;
    color: #D9AC85;
}

.projetos{
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1.2fr;
    grid-template-rows: 400px ;
    padding-left: 110px;
    padding-bottom: 130px;
}

.projetos>div{
    background-color: #1E1729;
    width: 80%;
    font-size: 20px;
    height: 350px;
}

.projetos>div>a>img{
    margin-left: 30px;
    display: block;
    padding-top: 30px;
    padding-bottom: 50px;
    width: 85%;
}

#mais-pj{
    padding-top: 100px;
    display: block;
}

#mais-pj>div{
    background-color: #15111C;
}

#mais-pj>div>svg{
    padding-top: 40px;
    padding-bottom: 20px;
    width: 50px;
}

#area-contato{
    padding-top: 30px;
    height: 85vh;
    text-align: center;
}

#area-contato>p{
    color: #D9AC85;
    font-size: 59px;
}

.contato-info{
    
}

.contato-info>svg{
    width: 50px;
    display: block;
    margin-left: 48.5%;
}

#rodapé{
    height: 29vh;
}
